[Desktop Entry]
Type=Application
Name=Particle Box
GenericName=Particle Box Animation
Exec=particlebox
Icon=particlebox
Terminal=false
Categories=Education;Science;ComputerScience;
