Source: particlebox
Section: java
Priority: optional
Maintainer: Martin Ueding <dev@martin-ueding.de>
Build-Depends: cdbs, debhelper (>= 7.0.50~), default-jdk (>= 1.5)
Standards-Version: 3.8.4
Homepage: 

Package: particlebox
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre (>= 1.5)
Description: Screensaver-like particle animation
 Shows a box full of particles that beam each other to the opposite sides of the screens when they touch each other.
