Source: mouseproblemreloaded
Section: java
Priority: optional
Maintainer: Martin Ueding <dev@martin-ueding.de>
Build-Depends: cdbs, debhelper (>= 7.0.50~), default-jdk (>= 1.5)
Standards-Version: 3.8.4
Homepage:

Package: mouseproblemreloaded
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre (>= 1.5)
Description: Mouse Problem Reloaded
 Classical Mouse Problem, just with more than a couple mice.
