# Copyright © 2013 Martin Ueding <dev@martin-ueding.de>
[Desktop Entry]
Type=Application
Name=Mouse Problem Reloaded
GenericName=Mouse Problem Reloaded
Exec=mouseproblemreloaded
Terminal=false
Categories=Education;Science;ComputerScience;
