# Copyright © 2013 Martin Ueding <martin-ueding.de>
[Desktop Entry]
Type=Application
Name=Mouse Problem Reloaded
GenericName=Mouse Problem Reloaded
Exec=java -jar /usr/share/mouse-problem-reloaded/mouseproblemreloaded.jar
Terminal=false
Categories=Education;Science;ComputerScience;
